{% extends 'admin/base.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block head_css %}
    {{ super() }}
    {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script>
        $(function () {
            $('.btn-block').click(function (event) {
                event.preventDefault();

                if (!confirm('Are you sure?')) {
                    return;
                }

                var r_id = $(this).data('id');
                var self = this;
                $(self).attr('disabled', true);
                var u = '/project/block?id=' + r_id;
                $.getJSON(u, function (response) {
                    $('.project-result[data-id="' + r_id + '"]').remove();
                }).always(function () {
                    $(self).attr('disabled', false);
                });
            });

            $('.source-list').change(function () {
                $(this).parents('form').submit();
            })
        })
    </script>
{% endblock %}
{% block body %}
    <div class="project">
        <div class="result-list-header">
            <h1>{{ project.title }} <span class="count">{{ total_count }} results</span></h1>
        </div>
        <form class="filter" action="?">
            <input type="hidden" name="id" value="{{ project_id }}">
            <select class="form-control source-list" name="s">
                <option value="">All Sources</option>
                {% for source in sources %}
                    <option value="{{ source['title'] }}" {{ 'selected' if selected_source==source['title'] else '' }}>{{ source['title'] }}
                        ({{ source['cnt'] }})
                    </option>
                {% endfor %}
            </select>
        </form>

        {% for row in data %}
            <div class="project-result" data-id="{{ row.id }}">
                <div class="image">
                    {% if row.result.image %}
                        <img src="{{ row.result.image }}">
                    {% else %}
                        <img src="{{ url_for('static', filename='img/no-image.png') }}">
                    {% endif %}
                </div>
                <div class="item-content">
                    <div class="title">
                        {{ row.result_title }}
                    </div>
                    <p class="summary">
                        {{ row.result_summary }}
                    </p>
                    <a class="url" href="{{ row.result.final_url }}" target="_blank">{{ row.result.final_url }}</a>
                    <span class="published">{{ date_format(row.result.published) }}</span>
                </div>
                <div class="control">
                    <button type="button" class="btn btn-danger btn-xs btn-block" data-id="{{ row.id }}" title="Block">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
        <div class="text-center">
            {{ lib.pager(page, num_pages, page_generator) }}
        </div>
    </div>
{% endblock %}