{% extends 'admin/model/edit.html' %}
{% block head_css %}
    {{ super() }}
    {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}