{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block head_css %}
    {{ super() }}
    {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}
    <script>
    $('nav.navbar').remove();
    </script>
{% endblock %}
{% block body %}
    <div class="index index-inline">
        <form class="filter" method="GET" action="?">
            <input type="hidden" name="inline" value="{{ inline }}">
            <input type="hidden" name="ds" value="{{ data_source_id or '' }}">
            <input type="hidden" name="ds_cat" value="{{ data_source_category or '' }}">
            <div class="search-box">
                <div class="search-box-input">
                    <input class="form-control" type="text" placeholder="*" name="query" value="{{ query|e }}">
                </div>
                <div class="search-box-btn">
                    <button class="btn btn-default">Filter</button>
                </div>
            </div>
        </form>
        <div class="total-count"> {{ total_count }} result(s) found</div>
        {% for row in data %}
            <div class="result-item">
                <div class="image">
                    {% if row['image'] %}
                        <img src="{{ row['image'] }}">
                    {% else %}
                         <img src="{{ url_for('static', filename='img/no-image.png') }}">
                    {% endif %}
                </div>
                <div class="item-content">
                    <div class="title">
                        {{ row['title'] }}
                    </div>
                    <p class="summary">
                        {{ row['summary'] }}
                    </p>
                    <a class="url" href="{{ row['url'] }}" target="_blank">{{ row['url'] }}</a>
                    <span class="published">{{ date_format(row['published']) }}</span>
                </div>
            </div>
        {% endfor %}
        <div class="text-center">
            {{ lib.pager(page, num_pages, page_generator) }}
        </div>
    </div>
{% endblock %}