{% extends 'admin/model/edit.html' %}
{% block head_css %}
    {{ super() }}
    {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}

    <div id="modal-test" class="modal large fade source-test-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Test Source</h4>
                </div>
                <div class="modal-body">
                    <h2 class="source-title"></h2>
                    <div class="source-list"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-results" class="modal fade source-results-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe width="100%" height="400" frameborder="0" id="iframe-results"></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    var d_id = '{{ request.args.get('id') }}';
    </script>
    {% assets "data-source-form" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block body %}
    <div style="text-align: right">
        <input type="button" class="btn btn-info btn-sm btn-test" value="Test Source">
        <input type="button" class="btn btn-danger btn-sm btn-reset" value="Reset" >
        <input type="button" class="btn btn-warning btn-sm show-results" value="Show Results">
    </div>
    {{ super() }}
{% endblock %}