{% extends 'admin/model/list.html' %}
{% block head_css %}
  {{ super() }}
  {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}
    <div id="modal-results" class="modal fade source-results-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <iframe width="100%" height="400" frameborder="0" id="iframe-results"></iframe>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('.show-results').click(function(event){
        event.preventDefault();
        var ds = $(this).attr('rel');
        $('#modal-results').modal();
        var u = '/?inline=1&ds=' + ds;
        $('#iframe-results').attr('src', u);
    })
    </script>
{% endblock %}
{% block body %}
    <h1>Data Sources</h1>
    {{ super() }}
{% endblock %}


{% block list_row_actions %}
    {{ super() }}
    <a class="icon show-results" href="#" rel="{{ get_pk_value(row) }}" title="Show Results">
        <span class="fa fa-list"></span>
    </a>
{% endblock %}