
/* Data Source Test Modal */
.source-test-modal {
  .modal-body {
    .source-title {
      font-size: 20px;
      margin: 0 0 10px 0;
    }
    .source-list {
      height: 300px;
      overflow: auto;
      .item {
        margin-bottom: 10px;
        border-bottom: 1px dotted #ccc;

        .link {
          display: block;
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .published {
          font-size: 13px;
        }
      }
    }
  }
}
