/* Type Ahead */

.typeahead {
  background-color: #FFFFFF;
  &:focus {
    border: 2px solid #0097CF;

  }
  .tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

  }

  .tt-hint {
    color: #999999;

  }

}

.tt-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 4px 0;
  width: 200px;

  .tt-suggestion {
    font-size: 14px;
    /* Set suggestion dropdown font size */
    padding: 3px 20px;

    &:hover {
      cursor: pointer;
      background-color: #0097CF;
      color: #FFFFFF;
    }

    p {
      margin: 0;
    }
  }
}