//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

h1 {
  font-size: 26px;
  margin-bottom: 10px;
}

.table {
  tbody {
    td, th {
      font-size: 13px;
    }
  }
}

mark {
  background: #f1ff15;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.index {

  .filter {
    margin-bottom: 20px;

    .search-box {
      width: 450px;
      margin: auto;
      @include clearfix;

      .search-box-input {
        width: 360px;
        float: left;
        margin-right: 10px;
      }
      .search-box-btn {
        float: left;
        width: 80px;
      }
    }
  }

  .total-count {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .result-item {
    padding: 10px 50px 10px 10px;
    margin-bottom: 15px;
    @include clearfix;

    &:hover{
      background: #f7f7f7;
    }

    .image {
      float: left;
      width: 150px;
      min-height: 150px;
      margin-right: 10px;

      @media screen and (min-width: 992px) {
        width: 250px;
        margin-right: 20px;
      }

      img {
        width: 100%;
      }
    }

    .item-content {
      padding-left: 160px;
      @media screen and (min-width: 992px) {
        padding-left: 270px;
      }
      .title {

        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .summary {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .published {
        font-size: 12px;
        color: #999999;
      }

      .url {
        font-size: 12px;
        word-wrap: break-word;
        display: block;
      }
    }

  }
}



@import "typeahead";
@import "datasource";

.project-table-link {
  font-weight: 500;
  font-size: 14px;
}

.project {
  .result-list-header {
    h1 {
      font-size: 26px;
      span {
        font-size: 18px;
        color: #666;
      }
    }
    margin-bottom: 20px;
  }

   .filter {
    margin-bottom: 30px;

    select {
      width: 450px;
    }
  }

  .project-result {
    @include clearfix;
    position: relative;
    padding: 10px 50px 10px 10px;
    margin-bottom: 15px;

    &:hover{
      background: #f7f7f7;
    }

    .image {
      float: left;
      width: 150px;
      min-height: 150px;
      margin-right: 10px;

      @media screen and (min-width: 992px) {
        width: 250px;
        margin-right: 20px;
      }

      img {
        width: 100%;
      }
    }

    .item-content {
      padding-left: 160px;
      @media screen and (min-width: 992px) {
        padding-left: 270px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .summary {
        font-size: 12px;
        margin-bottom: 5px;
      }

      .url {
        font-size: 12px;
        word-wrap: break-word;
      }

      .published {
        font-size: 12px;
        color: #999999;
        display: block;
        margin-top: 10px;
      }
    }

    .control{
      position: absolute;
      right: 0;
      top:0;
      bottom:0;
      width: 30px;
      height: 100%;
      text-align: center;


      .btn-block{
        font-size: 18px;
      }
    }
  }
}