{% extends 'admin/model/edit.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block head_css %}
    {{ super() }}
    {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}
    {% assets "auto-post-account-fb-form" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block body %}
    <h1>Edit Facebook Account</h1>
    <hr>
    {{ lib.render_form(form, '') }}
{% endblock %}

