{% extends 'admin/base.html' %}

{% block page_body %}
    <div class="container">
        <h2>Select Page</h2>
        <table class="table">
            {% for page in pages %}
                <tr>
                    <td><a class="select-page" href="#">{{ page['name'] }}</a>
                        <input type="hidden" name="id" value="{{ page['id'] }}">
                        <input type="hidden" name="name" value="{{ page['name'] }}">
                        <input type="hidden" name="access_token" value="{{ page['access_token'] }}">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block tail %}
    <script>
        $('.select-page').click(function () {
            var id = $(this).parent().find('input[name="id"]:eq(0)').val();
            var name = $(this).parent().find('input[name="name"]:eq(0)').val();
            var access_token = $(this).parent().find('input[name="access_token"]:eq(0)').val();

            opener.callback(id, name, access_token);
            window.close(this);
            return false;
        });
    </script>
{% endblock %}