{% extends 'admin/model/list.html' %}
{% block head_css %}
  {{ super() }}
  {% assets "custom-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
{% endblock %}
{% block tail %}
    {{ super() }}

{% endblock %}
{% block body %}
    <h1>Auto Post</h1>
    <p class="pull-right">
        <a href="{{ url_for('autopostaccount.create_fb') }}" class="btn btn-primary btn-sm">+ Facebook Account</a>
        <a href="{{ url_for('autopostaccount.create_tw') }}" class="btn btn-info btn-sm">+ Twitter Account</a>
    </p>
    <br clear="all">
    {{ super() }}
{% endblock %}

{% block list_row_actions %}
    {{ super() }}
    {% if row.type==1 %}
    <a class="icon" href="{{ url_for('autopostaccount.edit_tw', id=row.id) }}" title="Edit Record">
      <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
    </a>
    {% else %}
    <a class="icon" href="{{ url_for('autopostaccount.edit_fb', id=row.id) }}" title="Edit Record">
      <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
    </a>
    {% endif %}
{% endblock %}